version: "3.9"
services:
  nuxt-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    command: >
      sh -c "npm install && node tools/migrate.cjs status && node tools/migrate.cjs up && npm run dev -- --host 0.0.0.0"
