version: "3.9"
services:
  nuxt-app:
    image: node:22-bookworm-slim
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nuxt
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    entrypoint: /bin/bash -c
    command: >
      '   cd /app && npm install --verbose && node tools/migrate.cjs status && node tools/migrate.cjs up && npm run dev'
